
<h1 class="center">
  <%= @task.title %>
</h1>

  <p>
    <%= link_to "Тема: #{@task.theme.title}", @task.theme %>
  </p>
  <h6>Описание: <%=sanitize @task.description %></h6>
<br>
<% if user_signed_in? %>
  <div class="mw_200">
    <%= link_to 'Изменить', edit_task_path(@task), class: "big_links c_edit" %>
  </div>
<% end %>