<h1 class="center">Формулы</h1>

<div class="container">
  <div class="row">
    <% @formuls.each do |formul| %>
      <% if user_signed_in? %>
        <div class="col col-sm-8">
          <%= link_to formul.title, formul, class: "big_links c_normal" %>
        </div>
        <div class="col col-sm-2">
          <%= link_to 'Изменить', edit_formul_path(formul), class: "big_links c_edit" %>
        </div>
        <div class="col col-sm-2">
          <%= link_to 'Удалить', formul, method: :delete, data: { confirm: 'Вы уверены?' }, class: "big_links c_destroy" %>
        </div>
      <%else %>
        <div class="col col-sm-12">
          <%= link_to formul.title, formul, class: "big_links c_normal" %>
        </div>
      <%end %>
    <% end %>
  </div>
</div>

