
<h1 class="center">Теоремы</h1>

<div class="container">
  <div class="row">
    <% @theorems.each do |theorem| %>
      <% if user_signed_in? %>
        <div class="col col-sm-8">
          <%= link_to theorem.title, theorem, class: "big_links c_normal" %>
        </div>
        <div class="col col-sm-2">
          <%= link_to 'Изменить', edit_theorem_path(theorem), class: "big_links c_edit" %>
        </div>
        <div class="col col-sm-2">
          <%= link_to 'Удалить', theorem, method: :delete, data: { confirm: 'Are you sure?' }, class: "big_links c_destroy" %>
        </div>
      <%else %>
        <div class="col col-sm-12">
          <%= link_to theorem.title, theorem, class: "big_links c_normal" %>
        </div>
      <%end %>
    <% end %>
  </div>
</div>
