<h1 class="center">
  <%= @theorem.title %>
</h1>

<% if @theorem.theme_sections.empty? %>
  <p>Формулу не используют</p>
<% else %>
  <h3>Теорему используют:</h3>
    <div class="container">
      <div class="row">
        <div class="col col-sm-8">
         Тема:
        </div>
        <div class="col col-sm-4">
          Дисциплина темы:
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <% @theorem.theme_sections.each do |elem| %>
        <div class="col col-sm-8">
            <%= link_to elem.title, elem, class: "big_links c_normal" %>
        </div>
        <div class="col col-sm-4">
          <%= link_to elem.theme.title, elem.theme, class: "big_links c_normal" %>
        </div>
    <% end %>
      </div>
    </div>

<% end %>


<p>
  <h4>Описание:</h4>
  <%=sanitize @theorem.description %>
</p>
