// body {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }
.padding_0 {
  padding-left: 0;
  padding-right: 0;
}
.bg_gray {
  background-color: #333333;
}
.f_color {
  color: #fff;
}
.navbar-nav li {
  margin-left: 10px;
  padding: 10px 6px;
}
.navbar-nav li:hover {
  margin-right: 100px;
  border: 3px dotted gray;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h4 {
  opacity: .85;
  margin-top: 10px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.log_in {
  margin-left: 10px;
  padding: 10px 6px;
  position: absolute;
  right: 0;
}

// a {
//   color: #000;
//
//   &:visited {
//     color: #666;
//   }
//
//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
// }

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: #009900;

  font-size: 20px;

}

.notice_js {
  padding: 15px 15px;
  border: 1px solid #009900;
  background-color: rgba(0,159,0, .3);
  border-radius: 5px;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
textarea.form-control {
  margin-bottom: 5px;
  background-color: rgba(255,58,51,.3);
}
.notice {
  text-align: center;
}